body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

.logo {
    justify-self: left;
    min-width: 50%;
}

.head {
    background-color: blue;
}
.headButtons{
    background-color: black;
    color: aliceblue;
    align-content: right;
}